.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.dark-theme {
  --bg-clr: #505050;
  --nav-bg-clr: #000000;
  --text-clr: #ffffff;
  font-family: revert;
  --label-text-color: #ffffff
}

.light-theme {
  --bg-clr: #ffffff;
  --nav-bg-clr: #0d6efd;
  --text-clr: #000000;
  font-family: revert;
  --label-text-color: #000000;
}

body {
  background-color: var(--bg-clr) !important;
}

.header-change {
  background-color: var(--nav-bg-clr) !important;
}

h2{
  color: var(--text-clr) !important;
}

h3 {
  color: var(--text-clr) !important;
}
label{
  color: var(--label-text-color) !important;
}

.dark-style{
  color: var(--text-clr) !important;
}

.add_user_style {
  text-align: left;
  padding: 1% 0px;
}

@media only screen and (max-width: 768px) {
  form{
    margin: auto;
      width: 95%;
      padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  form{
    margin: auto;
      width: 70%;
      padding: 10px;
  }
}

.margin-top {
  margin-top: 4%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
